<!DOCTYPE html>
<html>

<head>
    <title>Log in</title>
</head>

<body>
    <h2>Log in</h2>
    <form id="login" @submit.prevent="loginPost">
        <label>{{idLabel}}</label>
        <input v-bind:placeholder="idLabel" v-model="id"><br>
        <label>{{passwordLabel}}</label>
        <input type="password" v-bind:placeholder="passwordLabel" v-model="password">
        <button type="submit">{{loginButtonLabel}}</button>
    </form>

    <form id="join" @submit.prevent="moveToJoinPage">
        <button type="submit">{{joinButtonLabel}}</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/join.js"></script>

</body>


</html>