<!DOCTYPE html>
<html>

<head>
    <title>Join</title>
</head>

<body>
    <h2>Join</h2>

    <form id="join" @submit.prevent="joinPost">
        <label>{{idLabel}}</label>
        <input v-bind:placeholder="idLabel" v-model="id">
        <label>{{passwordLabel}}</label>
        <input type="password" v-bind:placeholder="passwordLabel" v-model="password">
        <label>{{nameLabel}}</label>
        <input v-bind:placeholder="nameLabel" v-model="name">

        <button type="submit">{{joinButtonLabel}}</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/join.js"></script>

</body>


</html>